body {
     text-align: center;
}

#intro {
     background-color: chartreuse;
     color: crimson;
}

#app1 {
     background-color: blueviolet;
     color: lightgoldenrodyellow;
     width: 100%;
     height: 700px;
}

#games {
     background-color: coral;
     color: aqua;
     width: 100%;
     height: 700px;
}

#my-carousel{
     background-color:darkmagenta;
     
}
#my-carousel img{
     height: auto;
     margin-top:35px;
     border: solid;
     border-color: blueviolet;
     border-width:15px;
     
}
.carousel-inner p{
     font-family: fantasy;
     color:aquamarine;
     font-size: 40px;
     margin-top: 15px;
     margin-bottom: 15px;
}
